﻿<%@ Page Title="" Language="C#" Async="true" MasterPageFile="~/SaaS/OrganizationFront.Master" AutoEventWireup="true" CodeBehind="Portfolio.aspx.cs" Inherits="SGServe.SaaS.Portfolio" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <br />
    <br />
    <h3>
    <asp:Label ID="lblOrgName" runat="server" Text=""></asp:Label>
    </h3>
    <br />
    <br />
    <asp:Button ID="btnFollow" runat="server" class="btn btn-info btn-l" Text="Follow" />
    <br />
    <br />
</asp:Content>
