﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SaaS/OrganizationInternal.Master" Async="true" AutoEventWireup="true" CodeBehind="ViewJoinedVolunteer.aspx.cs" Inherits="SGServe.SaaS.ViewJoinedVolunteer" %>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder" runat="server">



</asp:Content>
