﻿<%@ Page Title="" Language="C#" Async="true" MasterPageFile="~/VolMaster.Master" AutoEventWireup="true" CodeBehind="AccActivation.aspx.cs" Inherits="SGServe.AccActivation" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
       <div class="page-section">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <h4 class="page-section-heading">
                            <asp:Label ID="ltMessage" runat="server" Text="Label"></asp:Label></h4>                           </h4>
                        </div>   </div>   </div>
</asp:Content>
