﻿<%@ Page Language="C#" Async="true" AutoEventWireup="true" CodeBehind="Follow.aspx.cs" Inherits="SGServe.Follow" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
