﻿<%@ Page Title="" Language="C#" MasterPageFile="~/VolMaster.Master" AutoEventWireup="true" CodeBehind="Logout.aspx.cs" Inherits="SGServe.Logout" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
