﻿<%@ Page Title="" Language="C#" MasterPageFile="~/VolMaster.Master" Async="true" AutoEventWireup="true" CodeBehind="NewSaaS_Step2.aspx.cs" Inherits="SGServe.NewSaaS_Step2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
  
    <asp:Panel ID="Panel1" runat="server">
        <div class="panel panel-default" style="padding: 10px; padding-left: 3%; padding-right: 3%; padding-top: 20px; min-height: 680px;">
            <h1 class="page-section-heading">SGServe SaaS Pricing Table</h1>

            <asp:Panel ID="Panel2" runat="server">
            </asp:Panel>
        </div>
    </asp:Panel>

</asp:Content>
